@mixin removeButtonStyle {
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: rgb(221, 131, 131);
  border-radius: 0.3rem;
  margin-top: 1rem;

  &:hover,
  &:active {
    background-color: #4d323292;
  }
  &:active {
    transform: scaleX(1.1);
  }
}

.cartProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    max-width: 20rem;
    width: 90%;
    background-color: #c4c4c4;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      max-width: 10rem;
      word-wrap: break-word;
    }
    img {
      max-width: 8rem;
      border-radius: 1rem;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        cursor: pointer;
        border: none;
        background-color: #aaa7a7;
        padding: 0.3rem;

        &:active {
          transform: scaleX(1.1);
        }
      }
    }

    .removeButton {
      @include removeButtonStyle;
    }
  }
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .finalButtons {
    margin-bottom: 1rem;
    button {
      @include removeButtonStyle;
      margin-right: 1rem;
    }

    .checkoutBtn {
      background-color: rgb(68, 68, 200);
    }
  }
}

.emptyCartWarning {
  text-align: center;
  margin: 5rem auto;
}
